<!-- help.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Справка</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            font-weight: bold;
            margin: 0;
            padding: 0;
            background-color: #C05FA2;
            color: #ffffff;
        }

        .main {
            margin-left: 100px;
        }

        footer {
            background-color: #490085;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        footer a {
            color: #fff;
            transition: color 0.3s ease;
        }
        footer a:hover {
            color: #ccc;
        }
    </style>
</head>
<body>
    <div class="main">
        <h1>Справка к разработке "База данных для книжного магазина"</h1>
        <ul>
            <li>1.1. Основные конструкции для разработки базы данных</li>
            <li>1.2. Анализ предметной области </li>
            <li>1.3. Концептуальное проектирование</li>
            <li>1.4. Логическое проектирование</li>
            <li>1.5 Обзор и выбор систем управления базами данных</li>
        </ul>
        <h1>Справка к разработке "База данных для книжного магазина"</h1>
        <ul>
            <li>2.1. Разработка проекта и базы данных</li>
            <li>2.2. Создание объектов базы данных </li>
            <li>2.3. Создание главного меню приложения</li>
        </ul>
    </div>
    <footer>
        <p><b>Пакет инсталляции проекта:</b></p><a href="https://github.com/eridanislyamov/bookshop" class="social-link">Git-Репозиторий</a>
    </footer>
</body>
</html>