<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оформление заказа</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #f4f4f4;
            color: #333;
        }
        header {
            background-color: #490085;
            color: #fff;
            padding: 30px;
            text-align: center;
        }
        nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: center;
        }
        nav ul li {
            display: inline;
            margin-right: 20px;
        }
        nav ul li a {
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            padding: 12px 18px;
            border-radius: 20px;
            transition: background-color 0.3s ease;
        }
        nav ul li a:hover {
            background-color: #e02673;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            margin-top: 0;
            text-align: center;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        button {
            padding: 10px 20px;
            background-color: #e02673;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #c01e6a;
        }
        p {
            margin-top: 20px;
            text-align: center;
        }

        #linkback {
            text-decoration: none;
            color: #fff;
        }

        #back {
            width: 170px;
            padding: 13px;
            border-radius: 10px;
            background-color: #e65d0e;
            transition: background-color 0.3s ease;
        }

        #back:hover {
            background-color: #bc4d0d;
        }

    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Магазин</a></li>
                <li><a href="/cart">Корзина</a></li>
                <% if (userPriority === 2) { %>
                    <li><a href="/admin">Админ-Панель</a></li>
                <% } %>
                <li><a href="/login">Авторизация</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Оформление заказа</h1>
        <form method="post" action="/order">
            <label for="name">Ваше имя:</label>
            <input type="text" id="name" name="name" required><br>
            <label for="address">Адрес доставки:</label>
            <input type="text" id="address" name="address" required><br>
            <button type="submit">Оформить заказ</button>
        </form>
        <p><b><a id="linkback" href="/cart"><div id="back">Вернуться в корзину</div></a></b></p>
    </div>
</body>
</html>